body {
    background: #ceb4b4;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;

}

#container {
    margin-top: 10%;
    display: inline-block;
}

canvas {
   background: #f06793; 
   border: 1px solid #000;
}